<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="IMDBConn" connectionString="scaffold-dbcontext 'Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=IMDB;Integrated Security=False;Trust Server Certificate=False;' Microsoft.EntityFrameworkCore.SqlServer -outputdir Models/Generated -contextdir Data -namespace Final_Project.Models -contextnamespace Final_Project.Data -Tables Episodes, Titles, Title_Genres, Genres, Ratings, Known_For, Names, Writers, Directors, Title_Aliases -DataAnnotations -force;"/>
	</connectionStrings>
</configuration>